body{
    background-color:yellow;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: aliceblue;
}
img{
    height: 400px;
    width:240px;
    padding: 10px;
    opacity: 0.7;
    cursor:crosshair;
    transition:all 0.5s ease-in-out;
}
img:hover{
    opacity: 1;
    border-radius:28px;
    transform: scale(1.03);
}
img:active{
    transform:scale(1.02);
}
hr{
    border-style:none none dotted;
    border-color: rgb(251, 198, 198);
    border-width: 12px;
    height: 0px;
    width: 120px;
}